Source: lucidos-icon-themes
Section: gnome
Priority: optional
Maintainer: Javid Medina <javidamedina@gmail.com>
Build-Depends: debhelper (>= 10),
               python3,
               python3-gi,
               gir1.2-glib-2.0
Standards-Version: 4.1.1

Package: lucidos-icon-themes
Architecture: all
Depends: ${misc:Depends}
Description: LucidOS Icon Themes
 The custom glassmorphic icon theme for LucidOS, featuring 
 Light and dark mode icons for LucidOS.
